
<footer class="section footer-main bg-green-dark text-white text-body">
  <div class="container">

    {% block footer %}

      <div class="row">

        <div class="col w-full lg:w-3/12">

          <p class="mb-10">
            {{ global_contact.meta('address') }}
          </p>
          <p class="mb-10">
            <a href="tel:{{ global_contact.meta('phone') }}">{{ global_contact.meta('phone') }}</a><br>
            {{ encrypt_email(global_contact.meta('email'), 'underline text-white') }}
          </p>
          <p class="hidden md:block text-base">
            &copy; 2019 MAG Architecten
          </p>
          <p class="md:hidden text-xsmall pt-20">
            &copy; 2019 MAG Architecten
          </p>

        </div>

        <div class="col hidden lg:block w-3/12">
          <div>
            {% include "components/menu.html.twig" with {
              "menu" : menu.get_items
            } %}
          </div>
        </div>

      </div>

    {% endblock %}

  </div>
</footer>

</div>