<header class="section header-main pointer-events-none fixed z-20 w-full">
  <div class="container flex justify-between">

    <div class="header-logo pointer-events-auto top-0 left-0 z-20">
      <a href="{{ site.link }}">
        <div class="svg-wrapper lg:-mt-4">
          {% include "components/header-logo.svg.twig" %}
        </div>
      </a>
    </div>

    <div class="top-0 z-30 w-full flex items-center justify-end">

      {% block header %}

        <nav id="nav-main" class="nav-main flex justify-end items-center" role="navigation">

          <div class="pointer-events-auto nav-menu text-menu leading-none z-40">
            <div class="container">
              <div class="row">
                <div class="col h-screen md:ml-1/12 lg:ml-2/12 uppercase leading-none">
                  {% include "components/menu.html.twig" with {
                    "menu" : menu.get_items
                  } %}
                </div>
              </div>
            </div>
          </div>
          <div class="nav-burger-wrapper cursor-pointer flex items-center justify-end lg:-mt-4">
            <div class="pointer-events-auto nav-burger toggle-menu relative z-50">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

        </nav>

      {% endblock %}

    </div>
  </div>
</header>
