<div class="expander-wrapper {{ class|join(' ') }} my-8 md:my-10">
  <div class="expander-toggle-wrapper font-light text-body">
    <div class="expander-toggle">Lees meer
      <div class="caret">
        {% include "components/caret.svg.twig" %}
      </div>
    </div>
  </div>
  <div class="expander-content-wrapper">
    <div class="expander-content text-body font-light">
      {{ content }}
    </div>
  </div>
</div>
