<div class="expander-wrapper my-8 md:my-10">
  <div class="expander-toggle-wrapper font-normal text-body">
    <div class="expander-toggle">Lees meer
      <div class="caret">
        {% include "components/caret.svg.twig" %}
      </div>
    </div>
  </div>
  <div class="expander-content-wrapper">
    <div class="expander-content text-body font-light">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque iure repudiandae magnam delectus neque aperiam commodi, quam aliquid iusto sint atque consequatur tempore eveniet maxime incidunt sunt fugit voluptas corporis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magni unde excepturi aliquam alias quod, sit veniam tempora impedit minus labore in placeat laboriosam. Velit doloremque ab corporis dolore repellendus!
      </p>
    </div>
  </div>
</div>
