{% if menu %}

  <ul class="list-reset h-full justify-center flex flex-col">

    {% for item in menu %}

      <li data-nav-target="{{ item.slug }}" class="nav-menu-item close-menu">
        <a href="{{ item.link }}">{{ item.title }}</a>

        {% include "components/menu.html.twig" with {
          "menu" : item.get_children
        } %}

      </li>

    {% endfor %}

  </ul>

{% endif %}