
{% if width %}
  {% set calc_width = "width: calc(100vw * " ~ width ~ " / 1440)" %}
{% else %}
  {% set calc_width = "width: 100%" %}
{% endif %}

{% set path = "components/" ~ component ~ ".svg.twig" %}

<div class="svg-wrapper {{ class|join(' ') }}" style="{{ calc_width }}">
  {% include path %}
</div>