@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/*  */
@import "./core/variables.pcss";
@import "./core/mixins.pcss";
@import "./core/grid.pcss";
@import "./core/elements.pcss";
@import "./core/fonts.pcss";
/*  */
@import "./components/components.pcss";
@import "./components/images.pcss";
@import "./components/slider.pcss";
/*  */
@import "./layout/barba.pcss";
@import "./layout/header.pcss";
@import "./layout/main.pcss";
@import "./layout/footer.pcss";
@import "./layout/nav.pcss";
/*  */
@import "./components/anime.pcss";
/*  */
@responsive {
  .border-box {
    box-sizing: border-box;
  }
  .content-box {
    box-sizing: content-box;
  }
}

.rtl {
  unicode-bidi:bidi-override;
  direction: rtl;
}