@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/*  */
@import "./core/variables.pcss";
@import "./core/mixins.pcss";
@import "./core/grid.pcss";
@import "./core/elements.pcss";
@import "./core/fonts.pcss";
/*  */
/* purgecss start ignore */
@import "./components/components.pcss";
@import "./components/images.pcss";
@import "./components/slider.pcss";
/* purgecss end ignore */
/*  */
/* purgecss start ignore */
@import "./layout/barba.pcss";
@import "./layout/header.pcss";
@import "./layout/main.pcss";
@import "./layout/footer.pcss";
@import "./layout/nav.pcss";
/* purgecss end ignore */
/*  */
@import "./components/anime.pcss";
/*  */