{# 404 #}

{% extends "core/base.html.twig" %}

{% block main %}

  <section class="section header-offset">
    <div class="container">

      <div class="row">
        <div class="col mx-1/12">

          <h1 class="text-xlarge mb-10">404</h1>
          <p class="font-light text-body">Pagina niet gevonden.</p>
          <p class="font-normal text-body">
            <a class="underline cursor-pointer" onclick="window.history.back()">klik hier om terug te gaan</a>
          </p>

        </div>
      </div>

    </div>
  </section>

{% endblock %}
