{# 404 #}

{% extends "core/base.html.twig" %}

{% block main %}

  <section class="section header-offset">
    <div class="container">

      <h1 class="text-xlarge">404</h1>

    </div>
  </section>

{% endblock %}
