{# Sample page #}

{% extends "core/base.html.twig" %}

{% block main %}

  <section class="header-offset pb-40">
    <div class="container pt-20">

      <div class="row">
        <div class="col w-8/12 mx-2/12">

          {% include "components/svg-wrapper.html.twig" with {
            component: 'iedereen-heeft-ideeen',
            width: 724
          } %}

        </div>
      </div>

    </div>
  </section>

  <section class="section text-body">
    <div class="container">
      <div class="row">
        <div class="col w-5/12">
          <p>
            <span class="font-normal">Bel ons</span><br>
            <a class="underline" href="#">040 29 61 166</a><br>
            <br>
            <span class="font-normal">Stuur ons een bericht</span><br>
            <a class="underline" href="#">info@mag-architecten.nl</a><br>
            <br>
            <span class="font-normal">Bezoek ons op</span><br>
            Patrijsstraat 15<br>
            5613 EK Eindhoven<br>
            <a class="underline" href="#">Google maps</a>
          </p>
        </div>
        <div class="col w-7/12">
          {% include "components/image.html.twig" with {
            figure_class : "landscape"
          } %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block scripts %}{% endblock %}
