{# Sample page #}

{% extends "core/base.html.twig" %}

{% block main %}

  <section class="section header-offset">
    <div class="container pt-10 md:pt-20">

      <div class="row items-start">
        <div class="col w-full mb-10 md:mx-1/12 md:w-5/12 md:mb-0">

          {% include "components/svg-wrapper.html.twig" with {
            component: 'mensen-voor',
            class: ['hidden', 'md:block', 'anim-svg-in']
          } %}

          {% include "components/svg-wrapper.html.twig" with {
            component: 'mensen-voor_mobile',
            class: ['md:hidden', 'anim-svg-in']
          } %}

          {% include "components/expander.html.twig" with {
            content : post.meta('text_1'),
            class: ['anim-fade-in']
          } %}

        </div>

        <div class="col anim-move-in w-full md:w-5/12 md:mt-1/12 lg:w-4/12 lg:mr-1/12" data-anim-direction="left">

          {% include "components/image.html.twig" with {
            figure_class : "landscape",
            image: post.meta('image_1'),
            size: 'landscape'
          } %}

        </div>

      </div>

    </div>
  </section>

  <section class="section">
    <div class="container">

      <div class="row flex-col-reverse md:flex-row items-start">
        <div class="anim-move-in col w-full md:w-5/12" data-anim-direction="right" data-anim-hook="50">

          {% include "components/image.html.twig" with {
            figure_class : "landscape",
            image: post.meta('image_2')
          } %}

        </div>

        <div class="col w-full mb-10 md:w-5/12 md:mx-1/12 md:mt-2/12 md:mb-0">
          <div class="flex flex-col items-end">
            <div>
              {% include "components/svg-wrapper.html.twig" with {
                component: 'wij-zorgen-voor',
                class: ['hidden', 'md:block', 'anim-svg-in']
              } %}

              {% include "components/svg-wrapper.html.twig" with {
                component: 'wij-zorgen-voor_mobile',
                class: ['md:hidden', 'anim-svg-in']
              } %}

              {% include "components/expander.html.twig" with {
                content : post.meta('text_2'),
                class: ['anim-fade-in']
              } %}

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section">
    <div class="container mb-10">

      <div class="row flex-row-reverse md:flex-row items-start">

        <div class="col w-full mb-10 md:w-6/12 md:ml-1/12 md:mt-1/12 md:mb-0">

          {% include "components/svg-wrapper.html.twig"  with { 
            component: "het-resultaat",
            class: ['hidden', 'md:block', 'anim-svg-in']
          } %}

          {% include "components/svg-wrapper.html.twig"  with { 
            component: "het-resultaat_mobile",
            class: ['md:hidden', 'anim-svg-in']
          } %}

          <div style="max-width: 800px">
            {% include "components/expander.html.twig" with {
              content : post.meta('text_3'),
              class: ['anim-fade-in']
            } %}
          </div>
        </div>

          <div class="col anim-move-in w-full md:w-5/12 lg:w-4/12">

            {% include "components/image.html.twig" with {
              figure_class : "portrait",
              image: post.meta('image_3'),
              size: "portrait"
            } %}

          </div>

      </div>

    </div>
  </section>

  <section class="section bg-green-lightest">
    <div class="container mt-10 md:mt-24 lg:mt-32 md:mb-20 lg:mb-24">

      <div class="row items-start">

        <div class="col text-body w-full md:w-8/12 lg:w-4/12 lg:ml-1/12">
          <p class="mr-8">
            {{ post.meta('footer').text }}
          </p>
          <h2 class="mt-12 mb-6 font-light text-title">Partners</h2>
          <div class="wysiwyg">
            {{ post.meta('footer').partners }}
          </div>
        </div>

        <div class="col hidden lg:block w-7/12">

          {% include "components/image.html.twig" with {
            figure_class : "landscape",
            image: post.meta('footer').image
          } %}

        </div>

      </div>
    </div>
  </section>

{% endblock %}

{% block scripts %}{% endblock %}
