.header-offset {
  padding-top: 120px;
}
.header-main {
  &.dark {
    @apply text-green-dark;
    .header-logo {
      /* @apply bg-green-light; */
    }
  }

  &.light {
    @apply text-green-light;
  }
}

.header-logo {
  .svg-wrapper {
    width: 82px;
  }
}

@screen md {
  .header-logo {
    .svg-wrapper {
      width: 97px;
    }
  }
}