.header-offset {
  padding-top: 120px;
}
.header-main {
  &.dark {
    @apply text-green-dark;
  }

  &.light {
    @apply text-green-light;
  }
}

@screen lg {
  .header-offset {
    padding-top: 200px;
  }
}