button,
.button {
    @apply px-4 py-2 bg-green-light mt-4;
    transition: $short easeOutCirc;
    
    &:hover {
        @apply shadow-lg;
        transform: translateY(-0.125em);
    }

    &:focus {
        outline: none;
        box-shadow: none;
        transform: translateY(0);
    }
}