figure {
  @apply relative;

  img {
    @apply absolute w-full h-full;
    object-fit: cover;
  }

  &.portrait::after {
    content: '';
    display: block;
    padding-top: 148.2%;
  }

  &.portrait-wide::after {
    content: '';
    display: block;
    padding-top: 127.8%;
  }

  &.landscape::after {
    content: '';
    display: block;
    padding-top: 71.9%;
  }

  &.landscape-wide::after {
    content: '';
    display: block;
    padding-top: 62.4%;
  }
}