/* grid */
$section-offset: 40px;
$gutter: 22px;
$site-max-width: 100rem;
$site-offset: 40px;
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* elements */
$header-height: calc($site-offset + 2rem);
/*  */
$burger-width: 34px;
$burger-height: 29px;